{% extends "base.html" %}
<html>
<head>


</head>


<body>

{% block login %}
          {% if request.user.is_authenticated %}
       <h4> {{ request.user.username }}</h4>


              <a href="../accounts/logout/">logout </a>

          {% else %}

                <a  class="btn btn-success" href="../accounts/login/">Login</a>
                 <a  class="btn btn-default " href="../accounts/register/">Register</a>
         {% endif %}



     {% endblock %}




{% block main_block %}

<br> <br> <br> <br>

<div >
 {%  for cat in testcat %}

 <a  class="catg"  href="{{cat.id}}/index">{{ cat.category_name }}</a><br><br><br>
{% endfor %}

{% for pag in walk %}
      {{ pag.title }}<br>
{{ pag.post_category}}<br>
    {{ pag.content|safe|truncatewords_html:5 }} | at :
    {{ pag.created }}
        <a href={{ pag.id}}/posts>Read More</a>
{% endfor %}

<span>
    {% if walk.has_previous %}<a href="?page={{  walk.previous_page_number }}">previous</a>{% endif %}
    <span>Page {{ walk.number }} of {{walk.paginator.num_pages }}.</span>
     {% if walk.has_next %}<a href="?page={{ walk.next_page_number }}">next</a>{% endif %}
 </span>
</div>
{{ page.render }}

</div>
{% endblock %}
</body>
</html>
