<html>
<head>
    <style type="text/css">
        #parent{
            display: flex;
        }
     .catg{
             padding: 20px;
            font-size: 16px;
            border: 1px solid #ddd;
            border-radius: 20px;
            text-align: center;
            height: 5px;
            float:left;
            display:inline;
            width: 200px;
            margin:5px;
        }
        a{text-decoration:none}


    </style>



</head>


<body>
<div >
 {%  for cat in testcat %}

 <a  class="catg"  href="{{cat.id}}/index">{{ cat.category_name }}</a><br><br><br>
{% endfor %}

{% for pag in walk %}
      {{ pag.title }}<br>
{{ pag.post_category}}<br>
    {{ pag.content|safe|truncatewords_html:20 }} | at :
    {{ pag.created }}
        <a href={{ pag.id}}/posts>Read More</a>
{% endfor %}

<span>
    {% if walk.has_previous %}<a href="?page={{  walk.previous_page_number }}">previous</a>{% endif %}
    <span>Page {{ walk.number }} of {{walk.paginator.num_pages }}.</span>
     {% if walk.has_next %}<a href="?page={{ walk.next_page_number }}">next</a>{% endif %}
 </span>
</div>
{{ page.render }}

</div>
</body>
</html>
