{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>



</head>
<body>
{% block login %}
          {% if request.user.is_authenticated %}
       <h4> {{ request.user.username }}</h4>


              <a href="../accounts/logout/">logout </a>

          {% else %}

                <a  class="btn btn-success" href="../accounts/login/">Login</a>
               <a  class="btn btn-default " href="../accounts/register/">Register</a>
         {% endif %}



     {% endblock %}


{% block main_block %}
<br> <br> <br> <br>
<table class="tb">

<! (box) postes renderd from view-->
{% for pag in box %}
<tr>
<td><div class="post">
<! show attributes of post>
    {{ pag.title}}<br>
  {{ pag.post_category}}<br>
  {{ pag.content|safe|truncatewords_html:5}} : at :
  {{ pag.created}}<br><br>

    <a href=/{{pag.id}}/posts>Read More</a>

</div></td>
</tr>

{% endfor %}
<! pagination section>
<tr><td><div align="center">
 <span>
    {% if box.has_previous %}<a href="?page={{  box.previous_page_number }}">previous</a>{% endif %}
    <span>Page {{ box.number }} of {{box.paginator.num_pages }}.</span>
     {% if box.has_next %}<a href="?page={{ box.next_page_number }}">next</a>{% endif %}
 </span>
</div>
{{ page.render }}</td></tr>
<br>
</table>
{% endblock %}
</body>
</html>


