{% extends "base.html" %}
{% load threadedcomments_tags %}
<html>
<head>
</head>
<style>
    .container{
        float :right;
        padding-left: 100px;
            font-size: 14px;}
            body{
        background-color: #cdcdb1;
      }
 </style>
<body>
{% block login %}
          {% if request.user.is_authenticated %}
        <h4>{{ request.user.username }}</h4>


              <a href="../accounts/logout/">logout </a>

          {% else %}

                <a  class="btn btn-success" href="../accounts/login/">Login</a>
               <a  class="btn btn-default " href="../accounts/register/">Register</a>
         {% endif %}



     {% endblock %}




{% block main_block %}
    {% block javascript %}

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">

        function show_reply_form(event) {
            var $this = $(this);
            var comment_id = $this.data('comment-id');

            $('#id_parent').val(comment_id);
            $('#form-comment').insertAfter($this.closest('.comment'));
        };

        function cancel_reply_form(event) {
            $('#id_comment').val('');
            $('#id_parent').val('');
            $('#form-comment').appendTo($('#wrap_write_comment'));
        }

        $.fn.ready(function() {
            $('.comment_reply_link').click(show_reply_form);
            $('#cancel_reply').click(cancel_reply_form);
        })

    </script>
{% endblock %}
    <br> <br> <br>
<div class="container">
  <h2>{{ selected_post.title }}</h2>
  <p>
  {{ selected_post.post_category }}<br>
  {{ selected_post.content|safe}} at :<br>
  {{ selected_post.created }}</p>

    {% for tag in tags %}
        <a href={{selected_post.id}}/{{tag.id }}/postbytag>{{ tag }}</a>
    {% endfor %}

</div>
    <div class="comments_wrapper" id="comments">

        {% render_comment_list   for selected_post  %}
            <br> <br>
            {% if request.user.is_authenticated %}
           {% render_comment_form for selected_post %}
        {% endif %}
    <br> <br>

        </div>
    </div>


<div class="navbar navbar-inverse navbar-fixed-bottom">


     <ul class="nav nav-tabs">

</ul>
     </div>
{% endblock %}
</body>
</html>